{% autoescape off%}
{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS vulnerable app</title>
    <link rel="stylesheet" href="{% static 'app/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="text-center my-4">XSS vulnerable app</h1>
        <p class="text-center">Created by Tymoteusz Mróz, Michał Lekstan and Szymon Wątroba</p>
    </header>
    <div class="container d-flex justify-content-center gap-3">
        <!-- Formularz Rejestracji -->
        <div class="card p-4">
            <h3 class="text-center mb-4">Registration</h3>
            <form action="{% url 'app:index' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="{{ sign_up_form.username.id_for_label }}" class="form-label">Username</label>
                    {{ sign_up_form.username }}
                </div>
                <div>
                    <label for="{{ sign_up_form.email.id_for_label }}" class="form-label">E-mail</label>
                    {{ sign_up_form.email }}
                </div>
                <div>
                    <label for="{{ sign_up_form.password.id_for_label }}" class="form-label">Password</label>
                    {{ sign_up_form.password }}
                </div>
                <button type="submit" class="btn btn-success" name="signup">Sign up</button>
            </form>
        </div>
    
        <!-- Formularz Logowania -->
        <div class="card p-4">
            <h3 class="text-center mb-4">Login</h3>
            <form action="{% url 'app:index' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ sign_in_form.username.id_for_label }}" class="form-label">Username</label>
                    {{ sign_in_form.username }}
                </div>
                <div class="mb-3">
                    <label for="{{ sign_in_form.password.id_for_label }}" class="form-label">Password</label>
                    {{ sign_in_form.password }}
                </div>
                <button type="submit" class="btn btn-primary" name="signin">Sign in</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>

{% endautoescape %}
