
{% load static  %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored XSS</title>
    <link rel="stylesheet" href="{% static 'app/stored.css' %}">
</head>
<body>
    <h1>Stored XSS</h1>
    <div class="container">
        <div class="text-section">
            <h2>Instruction</h2>
            <p>Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!</p>
        </div>
        <div class="comments-section">
            <h2>Comments</h2>
            <button class="add" onclick="openModal()">Add comment</button>
            
            {% for comment in comments %}
                
                <div class="comment">
                    <div class="comment-header">
                        <div class="author">Author: {{comment.author.username}}</div>
                        
                        {% if comment.author.id == logged_user.id %}
                        
                            <form action="{% url 'app:delete_comment' comment.id %}" method="post" style="display: inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        
                        {% endif %}
                    
                    </div>
                    {% autoescape off %}
                    <div class="text">{{ comment.content }}</div>
                    {% endautoescape %}
                </div>

            {% endfor %}
            
        </div>
    </div>
    <a href="{% url 'app:tasks' %}">Return to main page</a>

    <!--Modal-->
    <div id="modal" class="modal" onclick="closeModalOnOutsideClick(event)">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Add comment</h2>
            <form id="addCommentForm" action="{% url 'app:add_comment' %}" method="post">
                {% csrf_token %}
                {{ comment_form.content }}
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <script src="{% static 'app/script.js' %}"></script>
</body>
</html>