<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored XSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stored.css') }}">
</head>
<body>
    <h1>Stored XSS</h1>
    <div class="container">
        <div class="text-section">
            <h2>Instrukcja</h2>
            <p>Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!
                Tutaj możesz przeczytać o Stored XSS i jego działaniu. Pamiętaj, aby zachować ostrożność podczas testowania i eksperymentowania z kodem!</p>
        </div>
        <div class="comments-section">
            <h2>Komentarze</h2>
            <button class="add" onclick="openModal()">Dodaj komentarz</button>
            <div class="comment">
                <div class="comment-header">
                    <div class="author">Autor: Jan Kowalski</div>
                    <button class="delete-button" onclick="this.parentElement.parentElement.remove();">Usuń</button>
                </div>
                <div class="text">Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1
                    Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1
                    Przykładowy komentarz 1 Przykładowy komentarz 1 Przykładowy komentarz 1
                </div>
            </div>
            <div class="comment">
                <div class="comment-header">
                    <div class="author">Autor: Jan Kowalski</div>
                    <button class="delete-button" onclick="this.parentElement.parentElement.remove();">Usuń</button>
                </div>
                <div class="text">Przykładowy komentarz 1</div>
            </div>
            <div class="comment">
                <div class="comment-header">
                    <div class="author">Autor: Jan Kowalski</div>
                    <button class="delete-button" onclick="this.parentElement.parentElement.remove();">Usuń</button>
                </div>
                <div class="text">Przykładowy komentarz 1</div>
            </div>
            <div class="comment">
                <div class="comment-header">
                    <div class="author">Autor: Jan Kowalski</div>
                    <button class="delete-button" onclick="this.parentElement.parentElement.remove();">Usuń</button>
                </div>
                <div class="text">Przykładowy komentarz 1</div>
            </div>
            <div class="comment">
                <div class="comment-header">
                    <div class="author">Autor: Jan Kowalski</div>
                    <button class="delete-button" onclick="this.parentElement.parentElement.remove();">Usuń</button>
                </div>
                <div class="text">Przykładowy komentarz 1</div>
            </div>
        </div>
    </div>
    <a href="/tasks">Powrót do strony głównej</a>

    <!--Modal-->
    <div id="modal" class="modal" onclick="closeModalOnOutsideClick(event)">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h2>Dodaj komentarz</h2>
            <form id="addCommentForm" onsubmit="addComment(event)">
                <textarea id="commentText" name="commentText" required placeholder="Napisz komentarz"></textarea>
                <button type="submit">Dodaj</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
