{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prosta Aplikacja Flask</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}"> 
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <h1>XSS Playground</h1>
        </div>
        <div class="navbar-right">
            <span>Witaj, Tymek</span>
        </div>
    </nav>
    <header class="header-intro">
        <p>Eksperymentalna aplikacja do testowania i nauki różnych typów ataków XSS.</p>
    </header>
<div class="sections">
    <div class="section">
        <h2>Reflected XSS</h2>
        <p>Odbity atak XSS.</p>
        <button onclick="location.href='{% url 'app:reflected_xss' %}'">Przejdź do zadania</button>
    </div>

    <!-- Sekcja dla Stored XSS -->
    <div class="section">
        <h2>Stored XSS</h2>
        <p>Trwały atak XSS.</p>
        <button onclick="location.href='{% url 'app:stored_xss' %}'">Przejdź do zadania</button>
    </div>

    <!-- Sekcja dla DOM-based XSS -->
    <div class="section">
        <h2>DOM-based XSS</h2>
        <p>Atak XSS bazujący na DOM.</p>
        <button onclick="location.href='{% url 'app:dom_xss' %}'">Przejdź do zadania</button>
    </div>
</div>
</body>
</html>
