{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS vulnerable app</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <h1>XSS Playground</h1>
        </div>
        <div class="navbar-right">
            <span>{{ username }}</span>
            <form action="{% url 'app:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="log-out-btn">Log out</button>
            </form>
        </div>
    </nav>
    <header class="header-intro">
        <p>XSS vulnerable app</p>
    </header>
<div class="grid-container">
    <!-- Sekcja dla Reflected XSS -->
    <div class="section">
        <h2>Reflected XSS</h2>
        <p>Odbity atak XSS</p>
        <button onclick="location.href='{% url 'app:reflected_xss' %}'">Go to task</button>
    </div>

    <!-- Sekcja dla Stored XSS -->
    <div class="section">
        <h2>Stored XSS</h2>
        <p>Trwały atak XSS</p>
        <form action="{% url 'app:stored_xss' %}" method="post">
            {% csrf_token %}
            <button type="submit">Go to task</button>
        </form>
    </div>

    <!-- Sekcja dla DOM-based XSS -->
    <div class="section">
        <h2>DOM-based XSS</h2>
        <p>Atak XSS bazujący na DOM</p>
        <button onclick="location.href='{% url 'app:dom_xss' %}'">Go to task</button>
    </div>

    <!-- Sekcja dla Brute Force Attack -->
    <div class="section brute-force">
        <h2>Brute Force Attack</h2>
        <p>Atak siłowy</p>
        <form action="{% url 'app:brute_force_page' %}" method="post">
            {% csrf_token %}
            <button type="submit">Go to task</button>
        </form>
    </div>

</div>
</body>
</html>
